<!doctype html>
<title>CS305 || Hello from Flask</title>

<body>
    <h2>Please Login</h2>
    {% if error %}
    <p>Error: {{error}}</p>
    {% endif %}
    <form action="login" method="POST">
        Login ID: <input type="text" name="login_id"/> <br/>
        Password: <input type="password" name="password"/> <br/>
        <button type="submit">Login</button>
    </form>
</body>

</html>