<!doctype html>
<title>CS305 || Signup</title>

<body>
    <h2>Register New User</h2>
    {% if error %}
    <p>{{error}}</p>
    {% endif %}
    <form action="signup" method="POST">
        Login ID: <input type="text" name="login_id"/> <br/>
        Password: <input type="password" name="password"/> <br/>
        Full Name: <input type="text" name="name"/> <br/>
        Role: <input type="text" name="role"/> <br/>
        <button type="submit">Register</button>
    </form>
</body>

</html>